@page "/parents"
@using PschoolClient.Models
@using PschoolClient.Services
@inject ParentService ParentService

<h3>Parents</h3>

@if (parents == null)
{
    <p><em>Loading...</em></p>
}
else if (parents.Count == 0)
{
    <p>No parents available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parent in parents)
            {
                <tr>
                    <td>@parent.UserName</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditParent(parent)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteParent(parent.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Parent> parents;

    protected override async Task OnInitializedAsync()
    {
        parents = await ParentService.GetParentsAsync();
    }

    private async Task EditParent(Parent parent)
    {
        // Code for editing parent
    }

    private async Task DeleteParent(int id)
    {
        // Code for deleting parent
    }
}
